<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="error bg bg-danger-subtle">
        <h2>
            <span class="green">Status :  <%= status %>  </span>
            
        </h2>
        <h1>
            Error :  <%= message  %> <span class="green">!</span>😔😔<br>
        </h1>
        
    </div>
    
</body>