<%- layout("./layouts/boilerplate.ejs")  %>

<body>
    <form action="/user/login" method="post" class="signup">
        <h1>Log <span>IN</span></h1>
        <input type="text" name="username" placeholder="Enter your username" />
        <input type="password" name="password" placeholder="Enter your password" />
        <button class="send"> <div class="layer"></div>login &rarr;</button>
    </form>
</body>